#car {
    font-family: Arial;
}

#body {
    position: absolute;
    top: 50px;
    width: 80%;
    height: 60px;
    background-color: #d81313;
    text-align: center;
}

#backwheel {
    position: absolute;
    left: 10%;
    top: 130px;
    background-color: #4e2a2a;
    border: 3px solid rgb(104, 55, 55);
    border-radius: 50%;
    width: 10px;
    height: 20px;
}

#frontwheel {
    position: absolute;
    left: 55%;
    top: 130px;
    background-color: #572e2e;
    border: 3px solid rgb(70, 32, 32);
    border-radius: 50%;
    width: 70px;
    height: 50px;
}