body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#orderForm {
    background-color: #1e9cb3;
    border: 4px solid rgb(23, 190, 93);
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    box-shadow: 10px 10px 5px #9c3131;
}